.content {
  min-height: calc(100vh - 280px);
  height: fit-content;

  @media (min-width: 999px) {
    display: grid;
    grid-template-columns: 380px 1fr;
  }

  .main {
    width: 100%;
    padding: 90px 20px;
    margin-bottom: 50px;

    @media (min-width: 500px) {
      margin-bottom: 80px;
      width: 900px;
      margin: 0 auto;
      padding: 80px 20px 20px;
    }

    @media (min-width: 999px) {
      margin-bottom: 80px;
      grid-column: 2;
    }
  }
}
