.wrapper {
  color: #fff;
  background: var(--headerBg);

  position: fixed;
  width: 100%;
  z-index: 100;

  .toggle {
    display: none;
    margin-top: 40px;
    align-items: center;
    background: var(--background);
    border-radius: 8px;
    box-shadow: var(--shadow);
    padding: 5px 10px 7px 10px;
    width: fit-content;

    span {
      margin-right: 10px;
      color: var(--foreground);
      font-size: 14px;
    }
  }

  .ham {
    // background: var(--headerBg);
    padding: 12px 20px;
    display: flex;
    z-index: 6;
    justify-content: space-between;
    position: relative;

    .ops {
      display: flex;
      align-items: center;

      .togCon1 {
        margin-right: 12px;
      }

      div:nth-child(2),
      .hamburger-react {
        width: 44px !important;
        height: 44px !important;
        -webkit-tap-highlight-color: transparent;

        div {
          width: 26px !important;

          div {
            background: var(--foreground) !important;
          }
        }
      }
    }

    .leftham {
      margin: auto 0;

      .prof {
        color: rgba(255, 255, 255, 0.6);
        color: var(--secondaryFg);
        font-size: 10px;
      }

      .name {
        color: var(--foreground);
        margin-bottom: 3px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  .sidebar {
    display: none;
  }

  .overlay {
    width: 100%;
    position: fixed;
    transition: all 0.3s;
    top: -300px;
    left: 0;
    padding: 0 30px;
    height: 0;
    background: var(--background);
  }

  .items {
    .item {
      padding: 10px 15px 10px 8px;
      width: fit-content;
      cursor: pointer;
      margin-bottom: 10px;
      transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
      border-radius: 8px;
      font-weight: 500;
      color: var(--foreground);

      &:hover {
        background-color: var(--hoverBg);
        padding: 10px 15px;
      }
    }

    .activePage {
      background-color: #942ee7;
      color: #fff;
      padding: 10px 15px;

      &:hover {
        background-color: #942ee7;
        padding: 10px 15px;
      }
    }

    .toogle {
      display: block;
    }
  }

  .open_overlay {
    padding: 100px 30px 30px;
    height: 100vh;
    top: 0;
  }
}

@media only screen and (min-width: 452px) {
  .wrapper {
    position: fixed;
    width: 100%;
    z-index: 100;

    .ham {
      .leftham {
        .prof {
          font-size: 12px;
        }

        .name {
          font-size: 20px;
        }
      }
    }
  }
}

@media only screen and (min-width: 999px) {
  .wrapper {
    position: fixed;
    width: 380px;
    height: 100%;
    z-index: 100;
    padding: 80px 50px 144px 50px;
    background: #6b21a8;

    .toggle {
      margin-left: 15px;
      position: absolute;
      bottom: 0;
      display: flex;
      margin: 20px 0;

      span {
        font-weight: 800;
      }
    }

    .ham,
    .overlay {
      display: none;
    }

    .sidebar {
      display: block;
      position: relative;

      .sideHead {
        .prof {
          color: rgba(255, 255, 255, 0.6);
          font-size: 15px;
        }

        .name {
          font-size: 25px;
          margin-bottom: 5px;
        }
      }

      .sideItems {
        margin-top: 80px;

        .sideItem {
          font-size: 22px;
          cursor: pointer;
          border-bottom: 1px solid #6b21a8;
          width: fit-content;
          margin-bottom: 15px;
          transition: all 0.3s ease-in-out;
          border-radius: 8px;
          padding: 5px 15px 5px 10px;
          font-weight: 500;

          &:hover {
            background-color: #942ee7;
            padding: 5px 15px;
          }
        }

        .activePage {
          background-color: #942ee7;
          padding: 5px 15px;
        }
      }
    }
  }
}
