.wrapper {
  .img_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .image {
      margin: 0 auto;
      border-radius: 50%;
    }
  }

  .data {
    margin-top: 50px;
  }
}
