.main {
  height: 100%;
  min-height: 92vh;
  position: relative;

  .content {
    padding: 70px 30px 30px;
    height: fit-content;
    min-height: 90vh;

    .title {
      font-size: 24px;
    }

    .img {
      width: 100%;
      display: grid;
      place-items: center;
      padding: 40px 0 50px;

      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    }

    .text {
      display: grid;
      grid-gap: 20px;

      .t1 {
        line-height: 25px;
        font-size: 16px;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }

    .services {
      margin: 50px 0 40px;


      .header {
        h1 {
          font-size: 24px;
        }

        p {
          color: var(--secondaryFg);
        }
      }

      .services-wrapper {
        display: grid;
        grid-gap: 15px;

        .service-wrapper {
          background-color: var(--secondaryBg);
          width: 100%;
          padding: 15px;
          border-radius: 8px;
          position: relative;
          height: fit-content;
          box-shadow: var(--shadow);
          border: 3px solid var(--borderColor);
          transition: all .3s ease;
          cursor: pointer;

          p {
            margin: 0; 
            color: var(--secondaryFg);
            font-size: 14px;
          }

          &:hover {
            border: 3px solid #6b21a8;
            background: #6b21a8;

            h3 {
              color: #fff;
            }

            p {
              color: #e3e3e3;
            }
          }
        }
      }
    }

    .reachout {
      position: relative;
      margin-top: 50px;

      .lbl {
        font-size: 12px;
        margin-bottom: 10px;
      }

      .link_cons {
        display: grid;
        grid-template-columns: 44px 44px 100px;
        grid-gap: 12px;
        align-items: center;

        a {
          -webkit-tap-highlight-color: transparent;
        }

        .link_con {
          box-shadow: 0 1px 4px RGB(26 26 67 / 10%);
          background-color: var(--secondaryBg);
          width: fit-content;
          padding: 8px;
          width: 44px;
          height: 44px;
          display: grid;
          place-items: center;
          margin-right: 10px;
          border-radius: 50%;

          svg {
            width: 24px;
            height: 24px;
          }

          &:hover {
            box-shadow: 0 4px 10px RGB(26 26 67 / 10%);
          }
        }

        .resume {
          font-size: 14px;
          height: fit-content;
          padding: 8px 12px;
          border-radius: 5px;
          background-color: #6b21a8;
          color: #fff;
          width: fit-content;
          box-shadow: 0 1px 4px RGB(26 26 67 / 10%);
          cursor: pointer;
          transition: all .3s ease-in-out;

          &:hover {
            background-color: #47166e;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 452px) {
  .main {
    height: 100%;
    min-height: 92vh;
    position: relative;

    .content {
      max-width: 800px;
      margin: 0 auto;

      .title {
        font-size: 36px;
      }

      .img {
        width: 100%;
        display: grid;
        place-items: center;
        padding: 40px 0 50px;

        img {
          width: 350px;
          height: 350px;
          border-radius: 50%;
        }
      }

      .text {
        .t1 {
          line-height: 25px;
          font-size: 18px;
        }
      }

      .services {


        .services-wrapper {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 15px;
        }
      }
    }
  }
}

@media only screen and (min-width: 999px) {
  .main {
    display: grid;
    grid-template-columns: 380px 1fr;

    .content {
      grid-column: 2;
      padding: 90px 30px;

      .title {
        margin-top: 0;
      }
    }
  }
}
