.wrapper {
  h1 {
    margin-top: 0;
  }

  .grid_wrapper {
    display: grid;
    grid-gap: 15px;

    .con {
      padding: 15px 12px;
      background: var(--secondaryBg);
      border-radius: 8px;
      height: fit-content;
      box-shadow: var(--shadow);
      border: 3px solid var(--borderColor);

      h4 {
        margin: 0 0 10px;
      }

      p {
        font-size: 12px;
        margin-bottom: 20px;
      }

      a {
        font-size: 12px;
        color: var(--secondaryFg);
        transition: color .3s ease;

        &:hover {
          color: #fff;
        }
      }
    }

    @media (min-width: 500px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 999px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
