

.blog, .blogLayout {
	height: 100%;
  min-height: 92vh;
  position: relative;

  .content {
	  padding: 90px 30px 30px;
	  height: fit-content;
	  min-height: 90vh;

	  .wrapper {
	  	display: grid;
	  	grid-gap: 15px;

	  	.con {
	  		padding: 15px 12px;
	  		background: var(--secondaryBg);
	  		border-radius: 8px;
	  		height: fit-content;
			  box-shadow: var(--shadow);
			  border: 3px solid var(--borderColor);

	  		h4 {
	  			margin: 0 0 10px;
	  		}

	  		a {
	  			color: var(--secondaryFg);
	  		}
	  	}
	  }
	}
}

.blogLayout {
	font-family: monospace;
}

@media only screen and (min-width: 500px) {
  .blog, .blogLayout {

    .content {
      width: 800px;
      margin: 0 auto;
      padding: 80px 20px 20px;

      .wrapper {
      	grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media only screen and (min-width: 999px) {
  .blog, .blogLayout {
    display: grid;
    grid-template-columns: 380px 1fr;

    .content {
      grid-column: 2;
      padding: 90px 30px;

      .wrapper {
      	grid-template-columns: 1fr 1fr;
      }
    }
  }
}
