.card__container {
  background-color: var(--secondaryBg);
  width: 100%;
  padding: 10px 10px 10px;
  border-radius: 8px;
  position: relative;
  height: fit-content;
  box-shadow: var(--shadow);
  border: 3px solid var(--borderColor);

  .card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h3 {
      margin: 0;
    }

    .project_links {
      svg {
        stroke: var(--secondaryFg);
        width: 28px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          stroke: #6b21a8;
        }
      }

      svg:nth-child(1) {
        width: 24px;
        margin-right: 10px;
      }
    }
  }

  .updated_at {
    font-size: 10px;
    color: var(--secondaryFg);
    position: absolute;
    top: 0;
    display: none;
    transition: all .3s ease;
  }

  .project_description {
    width: 100%;
    margin: 10px 0 15px;
    color: var(--secondaryFg);
  }

  .project_tools {
    position: absolute;
    bottom: -8px;
    width: calc(100% - 30px);
    display: flex;
    overflow-x: auto;
    grid-gap: 5px;

    // &::-webkit-scrollbar {
    //   width: 5px;
    //   height: 8px;
    //   cursor: pointer;
    // }

    // /* Track */
    // &::-webkit-scrollbar-track {
    //   background: #1f2937;

    //   cursor: pointer;
    // }

    // /* Handle */
    // &::-webkit-scrollbar-thumb {
    //   background: #1f2937;
    //   cursor: pointer;
    // }

    // /* Handle on hover */
    // &::-webkit-scrollbar-thumb:hover {
    //   background: #091a28;
    //   cursor: pointer;
    // }

    .tool {
      width: fit-content;
      background-color: #6b21a8;
      color: white;
      font-size: 14px;
      padding: 2px 4px;
      border-radius: 3px;
      white-space: nowrap;
    }
  }

  &:hover {

    .updated_at {
      display: block;
    }
  }
}
