@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@layer base {
  html,
  body {
    @apply font-sans bg-[#fafafa] dark:bg-[#11191f];
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
}

.themeChanger {
  background-color: var(--navsBg);
  height: 34px;
  width: 34px;
  display: grid;
  place-items: center;
  border-radius: 8px;
  margin-top: 2px;
  cursor: pointer;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;

  .my-masonry-grid_column {
    background-clip: padding-box;
  }

  .my-masonry-grid_column > div {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 500px) {
  .my-masonry-grid {
    margin-left: -15px;
  }
  .my-masonry-grid_column {
    padding-left: 15px;
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px;
  }
}

.react-loading-skeleton {
  margin-bottom: 15px !important;
  border-radius: 8px !important;
  background: var(--secondaryBg) !important;
  box-shadow: var(--shadow) !important;
  border: 3px solid var(--borderColor) !important;
}

.react-loading-skeleton:after {
  background: var(--background) !important;
}
