.guests {
  height: 100%;
  min-height: 92vh;
  position: relative;

  .content {
    padding: 90px 20px 30px;
    height: fit-content;
    min-height: 90vh;

    .title {
      font-size: 24px;
      margin-bottom: 40px;
    }

    .drop_wrapper {

      .out_ui {
        min-height: 120px;
        text-align: center; 

        span {
          font-size: 14px;
        }

        .git_btn {
          background: #6b21a8;
          color: #fff;
          display: flex;
          align-items: center;
          text-align: center;
          padding: 8px 16px;
          border-radius: 8px;
          width: fit-content;
          border: 0;
          outline: 0;
          height: fit-content;
          margin: 10px auto;

          span {
            margin-left: 10px;
          }
        }
      }

      .create {

        .hh {
          margin-bottom: 10px;
        }

        p {
          color: var(--secondaryFg);
          font-size: 10px;
          margin-top: 5px;
        }

        .con {
          width: 100%;
          margin-bottom: 20px;

          .pp {
            font-size: 8px;
          }

          textarea {
            width: 100%;
            outline: 0;
            resize: vertical;
            min-height: 80px;
            border: 0;
            border-radius: 8px;
            padding: 10px;

            background: var(--secondaryBg);
            box-shadow: var(--shadow);
            border: 3px solid var(--borderColor);
            border-radius: 8px;

            color: var(--foreground);
            margin-top: 5px;
          }

          button {
            width: 100%;
            outline: 0;
            padding: 12px 0;
            text-align: center;
            background: #6b21a8;
            border-radius: 8px; 
            border: 0;
            color: #fff;
            margin-top: 10px;
            font-family: "Fredoka One", san-serif;

            box-shadow: var(--shadow);
          }
        }
      }
    }

    .drop_content_wrapper {
      margin-top: 40px;
      display: grid;
      grid-gap: 10px;

      .drop {
        background: var(--secondaryBg);
        color: var(--secondaryFg);
        box-shadow: var(--shadow);
        border: 3px solid var(--borderColor);
        padding: 10px;
        border-radius: 8px;

        .header {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .con {
            display: grid;
            grid-template-columns: 40px 1fr;
            grid-gap: 10px;
            align-items: center;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }
          }

          .date {
            font-size: 10px;
          }
        }

        .drop_body {
          margin: 10px 0 0;
        }
      }
    }
  }
}


@media only screen and (min-width: 500px) {
  .guests {

    .content {
      width: 800px;
      margin: 0 auto;
      padding: 80px 20px 20px;
    }
  }
}

@media only screen and (min-width: 999px) {
  .guests {
    display: grid;
    grid-template-columns: 380px 1fr;

    .content {
      grid-column: 2;
      padding: 90px 30px;
    }
  }
}