.nav {
		color: #fff;
		background: #00224f;
		position: fixed;
		width: 100%;
		z-index: 100;

		.ham {
			background: #00224f;
			padding: 10px 25px;
			display: flex;
			z-index: 6;
			justify-content: space-between;
			position: relative;

			.leftham {
				margin: auto 0;

				.prof {
					color: rgba( 255, 255, 255, .6 );
					font-size: 10px;
				}

				.name {
					margin-bottom: 3px;
					border-bottom: 1px solid #00224f;
					cursor: pointer;

					&:hover {
						border-bottom: 1px solid white;
					}
				}
			}
		}

		.nav_overlay {
			width: 100%;
			position: fixed;
			transition: all .3s;
			background: #00224f;
			top: -100px; 
			left: 0;
			padding: 0 30px;
			height: 0;
		}

		.items {

			.item {
				padding: 3px 0;
				border-bottom: 1px solid #00224f;
				width: fit-content;
				cursor: pointer;
				margin-bottom: 10px;
				transition: all .3s ease;

				&:hover {
					border-bottom: 1px solid white;
				}
			}
		}

		.open_overlay {
			padding: 100px 30px 30px;
			height: 100vh;
			top: 0;
		}
	}


	@media only screen and (min-width: 452px) {
		.nav {
			position: fixed;
			width: 100%;
			z-index: 100;

			.ham {
				.leftham {

					.prof {
						font-size: 12px;
					}

					.name {
						font-size: 20px;
					}
				}
			}
		}
	}