.snippets__container {
  height: 100%;
  min-height: 92vh;
  position: relative;
  font-family: "Roboto", sans-serif;


  .snippets {
    padding: 100px 20px 20px;


    .wrapper {

      .gist {

        .header {
          font-size: 12px;
          background: var(--secondaryBg);
          box-shadow: var(--shadow);
          border: 3px solid var(--borderColor);
          padding: 10px;
          border-radius: 8px;
        }

        pre {
          font-size: 10px;
          border-radius: 8px;
        }
      }
    }
  }
}