.snippets {
  height: 100%;
  min-height: 92vh;
  position: relative;


  .content {
    padding: 90px 20px 20px;

    .title {
      font-size: 24px;
    }


    .wrapper {
        font-family: "Roboto", sans-serif;

      .gist {

        .header {
          font-size: 12px;
          background: var(--secondaryBg);
          box-shadow: var(--shadow);
          border: 3px solid var(--borderColor);
          padding: 10px;
          border-radius: 8px;
        }

        pre {
          font-size: 10px;
          border-radius: 8px;
        }
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  .snippets {

    .content {
      width: 800px;
      margin: 0 auto;
      padding: 80px 20px 20px;

      .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }

}

@media only screen and (min-width: 999px) {
  .snippets {
    display: grid;
    grid-template-columns: 380px 1fr;

    .content {
      grid-column: 2;
      padding: 90px 30px;

      .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}